
/*@import url('https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap'); /*font-family: 'Magra', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap'); /*font-family: 'Magra', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500&display=swap'); /*font-family: 'Red Hat Text', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap'); /*font-family: 'Aleo', serif;*/
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); /* font-family: 'Montserrat', sans-serif; */
/*@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'); /* font-family: 'Work Sans', sans-serif; */ 


html {
    scroll-behavior: smooth; 
    overflow-x: hidden;
    height: 100%;
}

:root {   
     --color-green: #0D606F;
     --color-white: #FFFFFF;
     --color-orange: #F2785C;
    
    /*--color-grey: #FFFFFF;
    --color-blue: #0158F8;
    --icon-filter: invert(0%);
    --icon-filter-hover: invert(51%) sepia(0%) saturate(0%) hue-rotate(358deg) brightness(99%) contrast(97%);      */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    justify-content: center;
    position: relative; 
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: var(--color-white);
    /*letter-spacing: 1.1%;
    background-color: var(--color-dark-blue);
           */
}  



.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 120px;      
}  

button {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: var(--color-white);
    background: var(--color-green);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in; 
} 

button:hover{
    background: var(--color-white);
    color: var(--color-green);
} 

/* Header ========================================================================*/

.wrapper-header {
    height: 765px;
    background-image: url('./assets/img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg');
    background-position: center 0;
    background-size: contain;
    background-repeat: no-repeat;
}


header{
    height: 90px;
    width: 100%;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);   
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: relative;
    left: 0;
    top: 0;
    
}

.wrapper-logo {
    display: flex;
    gap: 6px;
}
.wrapper-logo p {
    font-family: 'Magra', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: var(--color-white);
    line-height: 39px;
}

.button-login {
    width: 103px;
    height: 41px;
}

.menu-list-nav {
    display: flex;
    list-style: none;
    gap: 43px; 
    z-index: 2;
    position: relative;  
    padding-right: 32px; 
}

.menu-list-nav li a, .link-list li a {
    color: var(--color-white);
    text-decoration: none;  
    transition: color 0.3s ease-in;  
}   
 
.menu-list-nav li a:hover {
    color: var(--color-green);
}

/* Preview ========================================================================*/

.preview {
    padding-top: 32px;
}

h1 {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
}

.preview p {
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 46px;
}

.form-preview {
    position: relative;    
}

input[type="search"]::-webkit-input-placeholder {
    color: var(--color-orange);
    
       
} 
input[type="search"]::-moz-placeholder {
    color: var(--color-orange);
}

.form-preview input {
    width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    outline: none;
    border-radius: 16px;
    color: var(--color-green);
    font-weight: 400;
    font-size: 24px;
    font-family: 'Aleo', serif;
    font-style: italic;
    padding-left: 41px; 
    cursor: pointer;
}

.form-preview button {
    width: 228px;
    height: 59px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    left: 646px;
    top: 18px;
    line-height: 32px;
    letter-spacing: 0.03em;
}